
        body {
            position: relative;
            perspective: 200px;
            -webkit-perspective: 200px;
            perspective-origin: 50% 50%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #000;
        }

        canvas {
            position: absolute;
            height: 100vh;
            width: 100vw;
            z-index: 0;
        }

        div.ui {

            position: relative;

            height: calc(100vh - 4px);
            width: calc(100vw - 4px);
            margin: 0px;
            padding: 2px;
            display: flex;
            flex-flow: column;
            perspective: 200px;
            transition: 0.25s linear;

        }

        div.deck {
            display: flex;
            flex: 1;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        a {
            position: relative;
            display: flex;
            background-color: #000;
            flex-flow: column;
            align-items: flex-start;
            justify-content: flex-start;
            border-radius: 6px;
            font-family: "Special Elite";
            font-size: 1.6em;
            font-weight: 400;
            color: #FFF;
            text-decoration: none;
            transition: 0.5s linear;
            overflow: hidden;
            margin: 3px;
            z-index: 1;
        }
        a {
            flex: 1;
        }
        a.double {
            flex: 2;
        }
        a:hover {
            transform: translateZ(10px);
            z-index: 1000;
            transition: 0.2s linear;
        }
        /* Portrait */
        @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait) {
            body {
                overflow: auto;
            }
            div.ui {
                display: block;
            }
            a, a.double {
                flex-basis: 100%;
            }
            a:hover {
                transform: translateZ(0px);
                z-index: 1000;
                transition: 0.2s linear;
            }
        }
        div.content {
            display: flex;
            padding: 0 10px;
            flex: 1;
            flex-flow: row;
            align-items: justify;
            justify-content: space-around;
            z-index: 2;
        }
        div.content > p {
            padding: 0 10px;
            margin: 0;
            margin-top: 10px;
            flex: 1;
            font-family: 'Raleway', Arial, Helvetica, sans-serif;
            font-weight: 200;
            font-size: 0.85rem;
            line-height: 1.5rem;
            opacity: 0;
            transition: 0.25s linear;
            transition-delay: 0s;
        }
        a > span {
            align-self: flex-end;
            padding: 10px 10px 5px 10px;
            font-size: 0.5em;
            background-color: rgba(128,128,128,0.2);
            color: #fff;
            margin-right: -200px;
            border-top: 2px solid rgba(255,255,255,0.5);
            border-left: 2px solid rgba(255,255,255,0.5);
            border-top-left-radius: 5px;
            transition: 0.4s linear;
            z-index: 2;
        }
        body.desktop a:hover > div.content > p {
            margin-top: 0;
            opacity: 1;
            transition-delay: 0.25s;
        }
        body.desktop a:hover > div.content > p:nth-of-type(2) {
            transition-delay: 0.5s;
        }
        body.desktop a:hover > span {
            margin-right: -5px;
            transition-delay: 0.25s;
        }
        a > h1 {
            padding: 0 20px;
            margin-bottom: 10px;
            font-size: 1.0em;
            z-index: 2;
        }
        a.double {
            padding-right: 4px;
        }
        a.open {
            min-height: 200px;
        }
        a.open > div.content > p {
            margin-top: 0;
            opacity: 1;
        }